$background-color: #f4f4f4;
$white: #ffffff;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$title-font-size: 30px;
$title-font-weight: 500;
$margin-small: 10px;
$margin-medium: 20px;

.list-buy {
  width: 89%;
  background-color: $white;
  margin: $margin-small;
  padding: 20px;
  box-shadow: $box-shadow;

  .view-all {
    color: #69b1ff;
    margin-bottom: 10px;
    align-items: center;
  }

  .view-and-add {
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
    .action{
     .search-input{
      width: 300px;
      margin-right: 10px;
     } 
    }
  }

  .search-outl,
  .filter-outl,
  .button-outl {
    margin-right: 10px;
  }

  .list-buy-option {
    width: 100%;
    margin-left: 10px;
    align-items: center;
    .list-table {
      width: 100%;
    }
    .buy-request-title {
      font-weight: $title-font-weight;
      font-size: 20px;
    }
    .buy-request-title-more {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .item-text {
      margin-right: 18px;
    }
    .main-table {
      .pagination {
        margin-top: 10px;
        
        .spe{
          margin-left: 20px;
        }

        .total-size{
          margin-left: 20px;
        }

        .select-pagesize {
          border: none;
          cursor: pointer;
          outline: none;
          margin-left: 20px;
        }

        .page-number {
          float: right;
          margin-top: -20px;
          display: flex;

          .span-page-number {
            margin: 0px 20px;
          }
          .right {
            margin-right: 20px;
            margin-left: 20px;
          }
          .left.disabled {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .table-list {
    width: 120%;
    margin-left: -10px;
  }

  .down-outl {
    width: 13px;
  }
}
